<link rel="stylesheet" type="text/css" href="style/pc.css">
<div class="pc-warp">
	<h1>上一次改版失败了，继续改版中...</h1>
	<p class="links">站内方向：<a href="http://www.caihong.cc">WEB前端开发</a></p>
	<p class="text">非常欢迎大家访问<a href="http://www.chengrang.com">程让.com</a>，欢迎广告商往站内投放各种小广告。广告位全部位于网站隐私部位,引人入胜,十分具有挑逗性,诱惑性.本站长期浏览人群包括互联网不专业人士,热恋中的小弟弟小妹妹,小区居委会大妈,各大财务公司妇联主任,村委会主席以及各种社会闲杂人等.您要嫌这里太黑了，就直接去<a href="http://www.caihong.cc/?page_id=76">留言板</a>发表您邪恶的评论吧...
</p>

<p class="list">http://www.chengrang.com</p>
<p class="list">http://www.icss.club</p>
<p class="list">http://www.caihong.cc</p>

</div>